@import 'src/style/colors';

posts-app {
  display: block;
  padding-top: 70px;

  nav {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 8px 16px;
    background: map-get($colors, secondary);
    box-shadow:
      0 3px 5px -1px rgba(0,0,0,.2),
      0 6px 10px 0 rgba(0,0,0,.14),
      0 1px 18px 0 rgba(0,0,0,.12);

    .mat-icon-button {
      position: absolute;
      left: 0;
      background-color: transparent;
      color: white;

      .mat-icon {
        margin-left: -20px;
        font-size: 40px;
      }

      & + h1 {
        margin: 0 0 0 25px;
      }
    }

    h1 {
      margin: 0;
      color: white;
      font-weight: 300;
    }
  }
}