<nav>
  <button *ngIf="!isRoot" (click)="location.back()" md-icon-button>
    <md-icon>keyboard_arrow_left</md-icon>
  </button>

  <h1>Posts App</h1>
</nav>

<router-outlet></router-outlet>
<toaster-container></toaster-container>
