<form #form="ngForm" (ngSubmit)="tryToSave(form)" novalidate [class.submitted]="isSubmitted">
  <md-input-container>
    <input #title="ngModel" [(ngModel)]="post.title" name="title" mdInput placeholder="Post Title" required minlength="3">
  </md-input-container>
  <p *ngIf="isSubmitted && title.errors?.required" class="error">Title field is required</p>
  <p *ngIf="isSubmitted && title.errors?.minlength" class="error">Title should be minimum 3 characters</p>

  <md-input-container>
    <textarea #body="ngModel"
              [(ngModel)]="post.body"
              name="body"
              mdInput
              mdTextareaAutosize
              mdAutosizeMinRows="10"
              placeholder="Post Body"
              required
              minlength="10"></textarea>
  </md-input-container>
  <p *ngIf="isSubmitted && body.errors?.required" class="error">Post Body field is required</p>
  <p *ngIf="isSubmitted && body.errors?.minlength" class="error">Post Body should be minimum 10 characters</p>

  <button md-fab class="top-action-button"><md-icon>done</md-icon></button>
</form>