@import 'src/style/colors';

post-form {
  md-input-container {
    width: 100%;
    color: map-get($colors, primary);

    .mat-input-underline {
      border-top-color: map-get($colors, primary)
    }
  }

  .mat-raised-button {
    background: map-get($colors, success);
    color: white;
  }

  .submitted {
    md-input-container.ng-invalid .mat-input-underline {
      border-top-color: map-get($colors, danger)
    }
  }

  .error {
    color: map-get($colors, danger);
  }
}