<a routerLink="/create" md-fab class="top-action-button"><md-icon>add</md-icon></a>
<md-list>
  <ng-container *ngFor="let post of posts | async">
    <a [routerLink]="post.id" md-list-item>{{ post.title }}</a>
    <md-divider></md-divider>
  </ng-container>
</md-list>