html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

post-details,
post-form {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}