@import './colors';

toaster-container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;

  .toast {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

  .toast-error {
    background: transparentize(map-get($colors, danger), 0.3);
    color: white;
  }

  .toast-success {
    background: transparentize(map-get($colors, success), 0.3);
    color: white;
  }
}
